@media screen and (max-width: 480px) {
  .Container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
